!/CMakeLists.txt
!/23/CMakeLists.txt
*.exe
/23/*.txt
.vscode/
.idea/

lib/

util_test

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
